/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) 
{
    .container{
        width: 95%;
    }
    .img_item{
        width: 100%;
    }
    .banner{
        background-color: rgb(255, 255, 0);
    }
    .banner h1{
        font-size: 15px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .container{
        width: 520px;
    }
    .img_item{
        width: 50%;
    }
    .banner{
        background-color: rgb(244, 9, 181);
    }
    .banner h1{
        font-size: 20px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .container{
        width: 700px;
    }
    .img_item{
        width: 50%;
    }
    .banner{
        background-color: rgb(255, 0, 0);
    }
    .banner h1{
        font-size: 30px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .banner{
        background-color: rgb(0, 98, 255);
    }
}
/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) 
{
    .container{
        width: 1140px;
    }
}
/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) 
{
    .container{
        width: 1320px;
    }
}